<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    
    <title>遇见</title>
    
    <link rel="stylesheet" href="/static/css/bootstrap-icon.min.css" />
    <link rel="stylesheet" href="/static/css/common.css" />
    <link href="/static/css/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/chat.css" />
    <link rel="stylesheet" href="/static/css/about.css" />
</head>
<body>
	<header>
		<div id="back" style="width:15%;height:100%;float:left;"><span class="hidden glyphicon glyphicon-menu-left"></span></div>
		<div class="nvtt">遇见</div>
		<div id="about-btn" class="nvbt"><span class="glyphicon glyphicon-info-sign"></span></div>
	</header>
	
	<div id="index">
		<pre>想饮一些酒，让灵魂失重，好被风吹走。
可一想到终将是你的路人，
便觉得，沦为整个世界的路人。
风虽大，都绕过我灵魂。</pre>
	
		<div class="connect-container">
	  		<a id="connect" class="button connect">l</a>
		</div>
	</div>
	<div id="chat">
		<ul class="chat-container">
		</ul>
		<div class="control">
		    <input type="text">
		    <button type="button"><span class="glyphicon glyphicon-send"></span></button>
		</div>
	</div>
	
	<div id="about" class="hidden">
		<p>感谢您下载本应用，如有任何建议或问题，请告诉我，谢谢。</p>
		<input type="text" />
		<button type="button">确定</button>
	</div>
	
	<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js" ></script>
	<script type="text/javascript" src="/static/js/index.js" ></script>
	<script type="text/javascript" src="/static/js/chat.js" ></script>
</body>
</html>
